<h3>Model Driven Forms</h3>

<form [formGroup]="myForm" autocomplete="off" novalidate>
  <div class="form-field">
    <label>Title:</label>
    <input formControlName="title" required>
  </div>
  <div class="form-field">
    <label>Duration:</label>
    <input formControlName="duration">
  </div>
  <div class="form-field">
    <label>Description:</label>
    <textarea formControlName="description"></textarea>
  </div>
  <div class="form-field">
    <button class="lesson-button" type="submit">Create Lesson</button>
  </div>
</form>
